name: keenetic-master
services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: keenetic_master
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 10s
      retries: 5


  dns-logs:
    build:
      context: .
      args:
        RUBY_VERSION: '3.4.1'
    image: keenetic-master:1.0.0
    stdin_open: true
    tty: true
    restart: unless-stopped
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    env_file: ".env"
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: keenetic_master
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
    depends_on:
      postgres:
        condition: service_healthy
    command: sh -c "bundle install && ruby cmd/follow_dns_logs.rb"

  backend:
    build:
      context: .
      args:
        RUBY_VERSION: '3.4.1'
    image: keenetic-master:1.0.0
    stdin_open: true
    tty: true
    restart: unless-stopped
    ports:
      - "${BACKEND_PORT:-3201}:3000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    env_file: ".env"
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_NAME: keenetic_master
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
    depends_on:
      postgres:
        condition: service_healthy
    command: sh -c "bundle install && ruby cmd/web_server.rb"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      CHOKIDAR_USEPOLLING: ${CHOKIDAR_USEPOLLING:-false}
      WATCHPACK_POLLING: ${WATCHPACK_POLLING:-false}
      FAST_REFRESH: ${FAST_REFRESH:-false}
      REACT_APP_API_BASE_HOST: ${BACKEND_HOST:-localhost}
      REACT_APP_API_BASE_PORT: ${BACKEND_PORT:-3201}
      WDS_SOCKET_HOST: ${BACKEND_HOST:-localhost}
      WDS_SOCKET_PORT: ${FRONTEND_PORT:-3200}
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT:-3200}:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend/:/app
    stdin_open: true
    tty: true
    # Default command can be overridden for production
    command: sh -c "npm start"

volumes:
  bundle_cache:
  postgres_data:
